In [94]:
import yfinance as yf
import pandas as pd

import pandas as pd 
import numpy as np 
import math
import matplotlib. pyplot as plt 
import seaborn as sns 
from scipy import stats

In [95]:
tickers = ['AMER3.SA','MGLU3.SA','CVCB3.SA','WEGE3.SA','BHIA3.SA','SBSP3.SA']

stocks = yf.download(tickers,start='2015-01-01', end='2021-12-31', interval='1d')

df = pd.DataFrame(stocks['Close']).reset_index()

df.set_index('Date')

#df.rename(columns={'AMER3.SA':'AMERICANAS','MGLU3.SA':'MAGALU'}, inplace=True)

#df.columns.droplevel(1)

df

[*********************100%%**********************]  6 of 6 completed

Ticker,Date,AMER3.SA,BHIA3.SA,CVCB3.SA,MGLU3.SA,SBSP3.SA,WEGE3.SA
0,2015-01-02,20.953732,148.737137,12.527681,2.177549,16.799999,5.923076
1,2015-01-05,20.283978,148.737137,12.362843,2.218470,16.799999,5.963461
2,2015-01-06,20.341387,148.737137,12.198006,2.189241,16.750000,5.875000
3,2015-01-07,20.140459,160.986069,12.090861,2.262313,17.100000,5.807692
4,2015-01-08,19.480272,160.986069,11.662282,2.244776,17.160000,5.905769
...,...,...,...,...,...,...,...
1733,2021-12-23,30.561735,98.428986,12.555728,57.990047,39.889999,33.470001
1734,2021-12-27,31.725330,106.303307,12.528393,63.414921,40.049999,33.169998
1735,2021-12-28,30.860094,108.271889,12.920190,63.882584,40.040001,33.290001
1736,2021-12-29,30.850147,109.803001,11.972588,63.227856,39.849998,32.740002
1737,2021-12-30,31.407082,114.833817,12.227712,67.530342,40.180000,32.980000

In [96]:

dataset = df.copy()
dataset.drop(labels=['Date'], axis=1, inplace=True)
taxas_retorno = (dataset/dataset.shift(1))-1
taxas_retorno.std()*100

Ticker
AMER3.SA    3.784613
BHIA3.SA    4.529593
CVCB3.SA    3.514922
MGLU3.SA    4.097814
SBSP3.SA    2.492678
WEGE3.SA    2.198040
dtype: float64

In [97]:
taxas_retorno.std()*252

Ticker
AMER3.SA     9.537224
BHIA3.SA    11.414575
CVCB3.SA     8.857603
MGLU3.SA    10.326490
SBSP3.SA     6.281548
WEGE3.SA     5.539060
dtype: float64

In [98]:
taxas_retorno.cov()

Ticker    AMER3.SA  BHIA3.SA  CVCB3.SA  MGLU3.SA  SBSP3.SA  WEGE3.SA
Ticker
AMER3.SA  0.001432  0.000634  0.000398  0.000593  0.000310  0.000259
BHIA3.SA  0.000634  0.002052  0.000538  0.000648  0.000345  0.000249
CVCB3.SA  0.000398  0.000538  0.001235  0.000459  0.000369  0.000234
MGLU3.SA  0.000593  0.000648  0.000459  0.001679  0.000318  0.000262
SBSP3.SA  0.000310  0.000345  0.000369  0.000318  0.000621  0.000173
WEGE3.SA  0.000259  0.000249  0.000234  0.000262  0.000173  0.000483

In [99]:
taxas_retorno.corr()

Ticker    AMER3.SA  BHIA3.SA  CVCB3.SA  MGLU3.SA  SBSP3.SA  WEGE3.SA
Ticker
AMER3.SA  1.000000  0.369730  0.299163  0.382121  0.328416  0.311618
BHIA3.SA  0.369730  1.000000  0.337862  0.348867  0.305354  0.249734
CVCB3.SA  0.299163  0.337862  1.000000  0.318717  0.421291  0.302247
MGLU3.SA  0.382121  0.348867  0.318717  1.000000  0.310859  0.291318
SBSP3.SA  0.328416  0.305354  0.421291  0.310859  1.000000  0.316129
WEGE3.SA  0.311618  0.249734  0.302247  0.291318  0.316129  1.000000

In [100]:
taxas_retorno_ame_cvc = taxas_retorno[['AMER3.SA','CVCB3.SA']]

In [101]:
taxas_retorno_ame_cvc.cov()*100

Ticker    AMER3.SA  CVCB3.SA
Ticker
AMER3.SA  0.143233  0.039796
CVCB3.SA  0.039796  0.123547

In [102]:
pesos = np.array([0.5, 0.5])

In [103]:
np.dot(pesos,taxas_retorno_ame_cvc.cov()*246,pesos).sum()

0.42603836913333626

In [104]:
math.sqrt(np.dot(pesos,taxas_retorno_ame_cvc.cov()*246,pesos).sum())

0.4267259191064454

In [106]:
pesos = np.array([0.2, 0.2, 0.2, 0.2, 0.1, 0.1])

In [105]:
taxas_retorno.cov()*246

Ticker    AMER3.SA  BHIA3.SA  CVCB3.SA  MGLU3.SA  SBSP3.SA  WEGE3.SA
Ticker
AMER3.SA  0.352353  0.155919  0.097899  0.145784  0.076216  0.063770
BHIA3.SA  0.155919  0.504723  0.132327  0.159297  0.084813  0.061166
CVCB3.SA  0.097899  0.132327  0.303925  0.112930  0.090803  0.057445
MGLU3.SA  0.145784  0.159297  0.112930  0.413085  0.078112  0.064549
SBSP3.SA  0.076216  0.084813  0.090803  0.078112  0.152851  0.042609
WEGE3.SA  0.063770  0.061166  0.057445  0.064549  0.042609  0.118852

In [109]:
np.dot(taxas_retorno.cov()*246,pesos)

array([0.14045239, 0.18746109, 0.1184957 , 0.15774161, 0.0726854 ,
       0.05417323])

In [113]:
np.dot(pesos,taxas_retorno.cov()*246,pesos).sum()

0.4912406029709287

In [112]:
math.sqrt(np.dot(pesos,taxas_retorno.cov()*246,pesos).sum())

0.7484919474041757